html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: gray;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.calc__input-display {
  text-align: right;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0.1rem;
}

.calc__input-display:focus {
  outline: none;
}

.calc__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.1rem;
}

.calc-btn {
  background-color: white;
  font-size: 1.2rem;
  padding: 2rem;
}

.period {
  font-size: 0.5rem;
}

.equal {
  grid-column-start: span 2;
}
